*target*
*.ear
*.class
*.cache.html
*.symbolMap
*.nocache.js

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
gwt-unitCache/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

war/SoftEng/1D2171F6C69338D401EE48591F6D35A2.cache.html

*.html

*.html

war/SoftEng/4D89E23F6943CE6EE670430C51CAACC6.cache.html

war/WEB-INF/deploy/SoftEng/symbolMaps/1D2171F6C69338D401EE48591F6D35A2.symbolMap

*.symbolMap
