*target*
*.ear
*.class
*.cache.html
*.symbolMap
*.nocache.js

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
gwt-unitCache/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
