wrapper{
	width: 95%;
	margin: 0 2.5%;
}

h1 {
	font-family: Verdana, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	background-color: #323B38;
	width: 100%;
	clear: both;
}

.filter-title-panel {
	padding: 2px;
}

.filter-language-panel {
	padding: 2px;
}

.filter-genre-panel {
	padding: 2px;
}

.filter-country-panel {
	padding: 2px;
}

#filterPanel tr{
	height: 2em;
}

#mainHeader { 
    height: 0px !important;
    display: none; 
} 

.SliderPanel{
	padding: 0 10em !important;
	text-align: center;
}

.htmlPanel{
	background-color : lightgray;
}

.gwt-Image{
   width: 50%;
   height: 25%;
   margin: 25px;
   border: 1px black solid;
}

#filterPanel{
}

#ad{
	margin-left: auto;
	margin-rigth: auto;
	clear: both;
}

#search{
   margin-left: 15px;
}


.feedback{
   color: white;
   height: 250px;
   position: absolute;
   top: 35%;
   right: 0%;
}

#header {
	clear: both;
	bottom: 0.5em;	
}

#heatmap {
	width: 80%;
	float: left;
	position: relative;
}

#filterPanel {
	top: 20em;
	width: 20%;
	float: right;
	position: relative;
}

#table {
	clear: both;
}

.normal{
   background: darkgreen;
   width: 40px;
}

.active{
   background: lightgreen;
   width: 70px;
   cursor: pointer;
   cursor: hand;
}
