wrapper{
	width: 95%;
	margin: 0 2.5%;
}

h1 {
	font-family: Verdana, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	background-color: #323B38;
	width: 100%;
	clear: both;
}

.pager {
	position: static !important;
	margin: auto !important;
}

#mainHeader { 
    height: 0px !important;
    display: none; 
} 

.SliderPanel{
	padding: 0 10em !important;
	text-align: center;
}


.htmlPanel{
	background-color : lightgray;
}

#filterPanel{
}

#ad{
	margin-left: auto;
	margin-rigth: auto;
	clear: both;
}

#search{
   margin-left: 15px;
}


.feedback{
   color: white;
   height: 250px;
   position: absolute;
   top: 35%;
   right: 0%;
}

#header {
	clear: both;
	bottom: 0.5em;	
}

#heatmap {
	width: 75%;
	height: 50%;
	float: left;
	position: relative;
	padding: 10px 0px 10px 0px;
}

.SliderPanel {
	margin: auto;
}

.SliderControls {
	margin: auto;
}

#heatmap .ui-slider-handle {
	background: #ef2929;
	cursor: move;
	width: 20px;
}

#heatmap > .ui-slider-handle {
	overflow: visible !important;
}

/* filterPanel Section */
#filterPanel {
	top: 8em;
	width: 20%;
	float: left;
	position: relative;
	border-radius: 5px;
	background-color: rgba(153,153,153, 0.2);
	padding: 5px 20px 30px 20px;
}

.filterPanel-composite td {
	width: 50%;
	padding: 5px 0px 0px 0px;
}

.filterPanel-composite .gwt-TextBox {
	position: absolute;
	right: 10%;
}

.filterPanel-composite .gwt-SuggestBox {
	position: absolute;
	right: 10%;
}
/* End of filterPanel Section */

/* table Section */
#table {
	clear: both;
}

#table thead{
	height: 30px;
	letter-spacing: 2px;
	font-size: 18px;
	font-variant: small-caps;
	background-color: rgba(255,153,0, 0.2);
}
/* End of table Section */

.gwt-Label {
	letter-spacing: 3px;
	font-weight: bold;
}

.normal{
   background: darkgreen;
   width: 40px;
}

.active{
   background: lightgreen;
   width: 70px;
   cursor: pointer;
   cursor: hand;
}
