<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SoftEng.html</welcome-file>
	</welcome-file-list>
	
	<use-google-connector-j>true</use-google-connector-j>
	
	<!-- Servlets -->
  <servlet>
    <servlet-name>filmDataServiceImpl</servlet-name>
    <servlet-class>com.uzh.gwt.softeng.server.FilmDataServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>filmDataServiceImpl</servlet-name>
    <url-pattern>/SoftEng/filmData</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>filmInfoServiceImpl</servlet-name>
    <servlet-class>com.uzh.gwt.softeng.server.FilmInfoServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>filmInfoServiceImpl</servlet-name>
    <url-pattern>/SoftEng/filmInfo</url-pattern>
  </servlet-mapping>

</web-app>
